@import "fonts/stylesheet.css";

/* Text blocks */

body {
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 24px;
}

h1 {
    font-family: 'Quicksand';
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    margin: 0em;
}

h2 {
    font-family: 'Quicksand';
    font-size: 19px;
    line-height: 24px;
    font-weight: 700;
}

h3 {
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 14.63px;
    font-weight: 700;
    text-transform: uppercase;
}


/* logo */

.logo {
    position: absolute;
    width: 105.69px;
    height: 40px;
    background-image: url(../svg-images/logo.svg);
}

.logo-minimal {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 30px;
    top: 30px;
    background-image: url(../svg-images/logo-minimal.svg);
}


/* Grids */

.row {
    display: flex;
    padding: 127px 132px;
}


/* Blocks site fonts */

.fonts {
    padding: 10px 0px 0px 0px;
    /* 
    border: 1px solid black; */
}

.fonts__content {
    display: flex;
    text-align: right;
    margin: 0px 0px 47px 155px;
}

.fonts__content-text {
    display: inline-block;
    width: 336px;
    text-align: left;
    margin: 0 0 0 30px;
    vertical-align: top;
}

.fonts__content-heading {
    font-family: 'Montserrat';
    width: 40px;
    display: inline-block;
    text-align: right;
    vertical-align: top;
    color: rgba(31, 32, 65, 0.25);
}

.fonts__content-h1 {
    font-size: 24px;
    line-height: 29px;
    padding: 1px 0px 0px 0px;
}

.fonts__content-text-h1 {
    padding: 1px 0px 0px 0px;
}

.fonts__content-h2 {
    font-size: 19px;
    line-height: 23.16px;
    padding: 2px 0px 0px 0px;
}

.fonts__content-text-h2 {
    padding: 2px 0px 0px 0px;
}

.fonts__content-h3 {
    font-size: 12px;
    line-height: 14.63px;
    padding: 4px 0px 0px 0px;
}

.fonts__content-text-h3 {
    padding: 4px 0px 0px 0px;
}

.fonts__content-body {
    font-size: 14px;
    line-height: 24px;
    padding: 0px 0px 0px 0px;
}

.fonts__content-text-body {
    padding: 1px 0px 0px 0px;
}


/* Blocks with site colors */

.colors {
    font-family: 'Quicksand', 'Open Sans';
    font-size: 19px;
    line-height: 29px;
    width: 548px;
    /* 
    border: 1px solid black; */
}

.colors__content {
    display: flex;
    align-items: center;
}

.colors__content-text {
    margin: 1px 0px 0px 30px;
}

.colors__content-rect {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin: 10px;
}

.colors__content-text.padding {
    padding: 0px 0px 1px 0px;
}

:root {
    --bg-dark-shade-100: rgba(31, 32, 65, 1);
    --bg-dark-shade-75: rgba(31, 32, 65, 0.75);
    --bg-dark-shade-50: rgba(31, 32, 65, 0.5);
    --bg-dark-shade-25: rgba(31, 32, 65, 0.25);
    --bg-dark-shade-5: rgba(31, 32, 65, 0.05);
    --purple-color: #BC9CFF;
    --green-color: #6FCF97;
}


/* Relative page */

@media screen and (max-width: 1299px) {
    .colors {
        font-family: 'Quicksand', 'Open Sans';
        font-size: 19px;
        line-height: 29px;
        width: 100%;
    }
    .fonts {
        padding: 10px 0px 0px 0px;
        width: 100%;
    }
    .fonts__heading {
        width: 40px;
        text-align: right;
        vertical-align: top;
        color: rgba(31, 32, 65, 0.25);
    }
}

@media screen and (max-width: 764px) {
    .logo-minimal {
        position: absolute;
        width: 48px;
        height: 48px;
        left: 50%;
        top: 30px;
        background-image: url(../svg-images/logo-minimal.svg);
    }
    .fonts {
        margin: 70px 0px 0px 0px;
        width: 100%;
    }
    .fonts__heading {
        width: 40px;
        text-align: right;
        vertical-align: top;
        color: rgba(31, 32, 65, 0.25);
    }
    .fonts__content {
        text-align: left;
        margin: 0px 180px 50px 20px;
    }
    .fonts__content.h3-correction {
        margin: 0px 180px 50px 20px;
    }
}