@import "fonts/stylesheet.css";
body {
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 24px;
}

h1 {
    font-family: 'Quicksand';
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    margin: 0em;
}

.H1-heading {
    font-family: 'Montserrat';
    font-size: 24px;
    color: rgba(31, 32, 65, 0.25);
    line-height: 29px;
    text-align: right;
}

.H2-heading {
    font-family: 'Montserrat';
    font-size: 19px;
    color: rgba(31, 32, 65, 0.25);
    line-height: 29px;
    text-align: right;
}

h2 {
    font-family: 'Quicksand';
    font-size: 19px;
    line-height: 24px;
    font-weight: bold;
}

h3 {
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.logo {
    position: absolute;
    width: 105.69px;
    height: 40px;
    background-image: url(../svg-images/logo.svg);
}

.logo-minimal {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 30px;
    top: 30px;
    background-image: url(../svg-images/logo-minimal.svg);
}


/* Grids */

.font-block {}

.row {
    display: inline-flex;
    box-sizing: border-box;
    margin: 127px 0px 0px 132px;
}

.column2 {
    display: inline-block;
    width: 336px;
    text-align: left;
    margin: 0 0 0 26px;
}

.column1 {
    display: inline-block;
    text-align: right;
    vertical-align: top;
}


/* Blocks site fonts */

.sf__blocks {
    margin: 10px 0px 0px 0px;
}

.sf__text-block {
    text-align: right;
    margin: 0px 0px 50px 156px;
}


/* Blocks with site colors */

.sc__blocks {
    font-family: 'Quicksand', 'Open Sans';
    font-size: 19px;
    line-height: 29px;
    width: 550px;
}

.sc__1-block {
    display: flex;
    align-items: center;
}

.sc__block-text {
    margin: 1px 0px 0px 30px;
}

.sc__rect {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin: 10px;
}

:root {
    --bg-dark-shade-100: rgba(31, 32, 65, 1);
    --bg-dark-shade-75: rgba(31, 32, 65, 0.75);
    --bg-dark-shade-50: rgba(31, 32, 65, 0.5);
    --bg-dark-shade-25: rgba(31, 32, 65, 0.25);
    --bg-dark-shade-5: rgba(31, 32, 65, 0.05);
    --purple-color: #BC9CFF;
    --green-color: #6FCF97;
}