@import "fonts/stylesheet.css";

/* Text blocks */

body {
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 24px;
}

h1 {
    font-family: 'Quicksand';
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    margin: 0em;
}

h2 {
    font-family: 'Quicksand';
    font-size: 19px;
    line-height: 24px;
    font-weight: 700;
}

h3 {
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 14.63px;
    font-weight: 700;
    text-transform: uppercase;
}


/* logo */

.logo {
    position: absolute;
    width: 105.69px;
    height: 40px;
    background-image: url(../svg-images/logo.svg);
}

.logo-minimal {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 30px;
    top: 30px;
    background-image: url(../svg-images/logo-minimal.svg);
}


/* Grids */

.row {
    display: inline-flex;
    margin: 127px 0px 0px 132px;
}


/* Blocks site fonts */

.fonts {
    margin: 10px 0px 0px 0px;
}

.fonts__heading {
    display: inline-block;
    text-align: right;
    vertical-align: top;
    color: rgba(31, 32, 65, 0.25);
}

.fonts__text-content {
    display: inline-block;
    width: 336px;
    text-align: left;
    margin: 0 0 0 26px;
    vertical-align: top;
}

.fonts__content.h3-correction {
    padding: 1px 0px 0px 0px;
    margin: 0px 0px 37px 0px;
}

.fonts__content {
    text-align: right;
    margin: 0px 0px 50px 157px;
}

.fonts__h1 {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 400;
    color: rgba(31, 32, 65, 0.25);
    line-height: 29px;
}

.fonts__h2 {
    font-family: 'Montserrat';
    font-size: 19px;
    color: rgba(31, 32, 65, 0.25);
    line-height: 23.16px;
}

.fonts__h3 {
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 14.63px;
    font-weight: 400;
    color: rgba(31, 32, 65, 0.25);
    text-transform: uppercase;
}


/* Blocks with site colors */

@media screen and (min-width: 1300px) {
    .colors {
        font-family: 'Quicksand', 'Open Sans';
        font-size: 19px;
        line-height: 29px;
        width: 550px;
    }
}

@media screen and (max-width: 1299px) {
    .colors {
        font-family: 'Quicksand', 'Open Sans';
        font-size: 19px;
        line-height: 29px;
        width: 100%;
    }
    .fonts {
        margin: 70px 0px 0px 0px;
        width: 100%;
    }
    .row {
        display: block;
        margin: 135px 0px 0px 132px;
    }
    .fonts__heading {
        width: 40px;
        text-align: right;
        vertical-align: top;
        color: rgba(31, 32, 65, 0.25);
    }
    .fonts__content {
        text-align: left;
        margin: 0px 180px 50px 20px;
    }
    .fonts__content.h3-correction {
        margin: 0px 180px 50px 20px;
    }
}

.colors__content {
    display: flex;
    align-items: center;
}

.colors__content-text {
    margin: 1px 0px 0px 30px;
}

.colors__content-rect {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin: 10px;
}

.colors__content-text.padding {
    padding: 0px 0px 1px 0px;
}

:root {
    --bg-dark-shade-100: rgba(31, 32, 65, 1);
    --bg-dark-shade-75: rgba(31, 32, 65, 0.75);
    --bg-dark-shade-50: rgba(31, 32, 65, 0.5);
    --bg-dark-shade-25: rgba(31, 32, 65, 0.25);
    --bg-dark-shade-5: rgba(31, 32, 65, 0.05);
    --purple-color: #BC9CFF;
    --green-color: #6FCF97;
}